# Pandas DataFrame

In [ ]:
'''
Q1. (1) Please read employee.csv in your working directory into Pandas DataFrame (i.e., employee_db).
        - When you read employee.csv, you need to use UNIQUE_ID Column 
          as the row labels (i.e., index) of the DataFrame. 
    (2) Please print a concise summary of employee_db.
    (3) Please print the first five rows of the DataFrame.

'''

# hint: you can use index_col when you read a csv file.
# hint: you can use info()
# hint: you can use head()

In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display

In [ ]:
# (1) read in employee.csv

employee_db = pd.read_csv('employee.csv', index_col='UNIQUE_ID')
employee_db

In [ ]:
type(employee_db)

In [ ]:
employee_db.shape

In [ ]:
# (2) Concise summary

employee_db.info

In [ ]:
employee_db.tail()

In [ ]:
# (3) print first 5 rows

employee_db.head()

In [ ]:
'''
Q2. (1) Please change the data type of BASE_SALARY into float32. 
        - Please make sure not to just create a copy of the column. You should change the DataFrame.
    (2) Please print the data type of BASE_SALARY column.
'''

# hint: you can use astype()
# hint: you can use dtypes

In [ ]:
# (1) Change data type of BASE_SALARY into float

employee_db['BASE_SALARY'].astype(float)

In [ ]:
# (2) Print data type of BASE_SALARY column

employee_db['BASE_SALARY'].dtypes

In [ ]:
'''
Q3. (1) Please add new columns 'DSA_PROGRAM', 'DSA8640' into the DataFrame.
        - When you add columns, default values are 'True'
    (2) Please rename column 'DSA8640' to 'DSA_8640'
    (3) Please print column names of the DataFrame.

'''

In [ ]:
# (1) Add new columns into Dataframe

employee_db['DSA_PROGRAM'] = 0

In [ ]:
employee_db['DSA8640'] = 0

In [ ]:
employee_db

In [ ]:
columns_renamed = {'DSA8640':'DSA_8640'}

In [ ]:
# (2) rename column
employee_db.rename(columns = columns_renamed)

In [ ]:
employee_db = employee_db.rename(columns = columns_renamed)

In [ ]:
# (3) print column names

employee_db.columns

In [ ]:
'''
Q4. (1) Please add a new row to the DataFrame by following information.

        POSITION_TITLE: ASSISTANT PROFESSOR
        DEPARTMENT: MANAGEMENT
        BASE_SALARY: 100000
        RACE: ASIAN
        EMPLOYMENT_TYPE: Full Time
        GENDER: Male
        EMPLOYMENT_STATUS: Active
        HIRE_DATE: 2006-06-12
        JOB_DATE: 2016-06-12
        DSA_PROGRAM: True
        DSA_8640: True
        
    (2) Please change GENDER of the last row to 'Female'.
    (3) Plesae print the last five rows of the DataFrame.

'''

In [ ]:
# (1) new row to DataFrame

employee_db = employee_db.append({'POSITION_TITLE':'ASSISTANT PROFESSOR', 'DEPARTMENT':'MANAGEMENT', 'BASE_SALARY':'100000', 'RACE':'ASIAN', 
                'EMPLOYMENT_TYPE':'Full Time', 'GENDER':'Male', 'EMPLOYMENT_STATUS':'Active', 'HIRE_DATE':'2006-06-12', 
                'JOB_DATE': '2016-06-12', 'DSA_PROGRAM':'True', 'DSA_8640':'True'}, ignore_index = True)

In [ ]:
employee_db.tail()

In [ ]:
# (2) change GENDER

employee_db['GENDER'][2000] = 'Female'

In [ ]:
# (3) print last five rows 

employee_db.tail()

In [ ]:
'''
Q5. (1) Please drop the column DSA_8640.
    (2) Please drop the first row of the DataFrame, employee_db.
    (3) Please reset the index of the DataFrame, employee_db.
        - Please make sure not to insert index into dataframe columns
    (4) Please print the first five rows of the DataFrame, employee_db.
    (5) Please create a new DataFrame, 'employee_date', 
        which contains columns having 'DATE' keyword from employee_db DataFrame.
    (6) Please print the last five rows of the DataFrame, employee_date.

'''

# hint: you can use drop parameter
# hint: Please use filter()

In [ ]:
employee_db.columns

In [ ]:
# (1) drop the column DSA_8640

employee_db = employee_db.drop('DSA_8640', axis = 'columns')

In [ ]:
employee_db.columns

In [ ]:
employee_db.head()

In [ ]:
# drop the first row

employee_db = employee_db.drop(0)

In [ ]:
employee_db

In [ ]:
# (3) reset index
employee_db = employee_db.reset_index()

In [ ]:
# (4) print first 5 rows

employee_db.head()

In [ ]:
# (5) new dataframe

employee_date = employee_db.filter(like='DATE')
employee_date

In [ ]:
# (6) print last 5 rows of employee_date DataFrame

employee_date.tail()

In [ ]:
'''
Q6. Please create two DataFrames with following information in the Figure below:

'''

<img align = 'left' src="pic/dataframe.png" alt="insert" width="700"/>

In [ ]:
'''
(1) Plesae create a DataFrame, Fruit_1, by using dictionary as an input of the DataFrame function.
(2) Please create a DataFrame, Fruit_2, by using numpy array as an input of the DataFrame function.
    - Please make sure to import numpy.
(3) Please print DataFrames (i.e., Fruit_1 and Fruit_2).
    - You don't need to use print function. Please just call the DataFrames.
'''

In [ ]:
import numpy as np

In [ ]:
dic = {'apples':[3,2,0,1],'oranges':[0,3,7,2]}
dic

In [ ]:
array = np.array([[3,0],[2,3],[0,7],[1,2]])
array

In [ ]:
# (1) create DataFrame, Fruit_1, using dictionary

Fruit_1 = pd.DataFrame(dic)

# (3) print DataFrame

Fruit_1

In [ ]:
# (2) create DataFrame, Fruit_2, using array

Fruit_2 = pd.DataFrame(array, columns = ['apples', 'oranges'])

# (3) print DataFrame

Fruit_2

In [ ]:
'''
Q7. (1) Please read diamonds.csv in your working directory into Pandas DataFrame (i.e., diamonds_db).
    (2) Please create another DataFrame, new_diamonds_db, 
        which includes carat, cut, color columns of the first one thousand rows in the diamonds_db.
    (3) Please sort column names in alphabeticl order.
    (4) Please print column names of the DataFrame
    (5) Please print a concise summary of new_diamonds_db.

'''

In [ ]:
# (1) read in diamonds.csv

diamonds_db = pd.read_csv('diamonds.csv')
diamonds_db

In [ ]:
# (2) create another DataFrame

new_diamonds_db = diamonds_db.loc[:999, ['carat', 'cut', 'color']]
new_diamonds_db

In [ ]:
# (3) sort column name in alphabetical order
diamonds_db = diamonds_db.sort_index(axis = 'columns')

In [ ]:
diamonds_db

In [ ]:
# (4) print columns name of the DataFrame

diamonds.columns

In [ ]:
new_diamonds_db.info()